<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    
<div class="text">
<h1>Helo this is About page</h1>
</div>



</body>
</html>

<style>
    .text{
        text-align: center;
        padding-top: 300px;
    }
</style>