<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Events | Eventify</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>

    <header class="site-header">
        <nav class="navbar">
            <a href="/" class="navbar-brand">EVENTIFY</a>
            <ul class="navbar-links">
                <li><a href="/userauth/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="#contact-section">Contact</a></li>
            </ul>
            <div class="navbar-auth">
                <a href="/userauth/logout" class="btn btn-logout">Logout</a>
            </div>
        </nav>
    </header>

    <main class="events-page-main">
        <div class="container">
          
          
          
            <img src="https://i.postimg.cc/KvNMJzXw/6b0b5b223569915-67fb788d03eb5.jpg" alt="">

            <h2 class="event-hedding">
                🎤 Event: CHAL - Live Music Night
🔥 <br>Featuring 
MC STORM & DJ RYZE
Two powerhouse <br>performers in one explosive night of music, energy, and unforgettable vibes.


            </h2>

           
    </main>

    <footer id="contact-section" class="site-footer">
        <div class="footer-grid">
             <div class="footer-about"><h4>Eventify</h4></div>
             <div class="footer-links"><h4>Quick Links</h4><ul><li><a href="/">Home</a></li><li><a href="/about">About</a></li><li><a href="/events">Event</a></li></ul></div>
             <div class="footer-links"><h4>Company</h4><ul><li><a href="#">Our approach</a></li><li><a href="#">FAQ Careers</a></li><li><a href="#">Contact</a></li></ul></div>
             <div class="footer-contact"><h4>Contact Info</h4><ul><li><img src="/icons/location.svg" alt="Location Icon"> Calicut, Kerala</li><li><img src="/icons/phone.svg" alt="Phone Icon"> 111-222-333</li><li><img src="/icons/email.svg" alt="Email Icon"> Eventify@gmail.com</li></ul></div>
        </div>
        <div class="footer-copyright"><p>© 2025 All rights reserved by Eventify</p></div>
    </footer>

</body>
</html>


<style>
    .event-hedding{

padding-left: 430px;
padding-bottom: 500px;
    }
</style>